@font-face {
  font-family: "PT Root UI";
  font-weight: 400;
  src: url("../fonts/PTRootUIRegular.woff") format("woff");
}

@font-face {
  font-family: "PT Root UI";
  font-weight: 500;
  src: url("../fonts/PTRootUIMedium.woff") format("woff");
}

@font-face {
  font-family: "PT Root UI";
  font-weight: 700;
  src: url("../fonts/PTRootUIBold.woff") format("woff");
}

@font-face {
  font-family: "Intro";
  font-weight: 400;
  src: url("../fonts/IntroRegular.woff") format("woff");
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "PT Root UI";
  font-size: 14px;
  font-weight: 400;
  color: #342121;
}

.header__top {
  min-height: 80px;
  display: flex;
  align-items: center;
}

.header__logo {
  display: flex;
  align-items: center;
}

.header__address {
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.header__address svg {
  width: 33px;
}

.header__address p {
  margin: 0;
  display: flex;
  flex-direction: column;
  color: #857c7c;
  font-family: "PT Root UI";
  font-size: 14px;
  font-weight: 400;
}

.header__address p a {
  color: #342121;
  font-family: "PT Root UI";
  font-size: 18px;
  font-weight: 700;
}

.block-three .item {
  margin-bottom: 30px;
}

.block-three .item img {
  width: 100%;
}

.header__bottom .header__background {
  background-color: #f2ebe4;
}

.header__navigation ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 60px;
}

.header__navigation ul li a {
  color: #857c7c;
  font-family: "PT Root UI";
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
}

.header__navigation ul li a:hover,
.header__navigation ul li a:focus {
  color: #6a6363;
}

.header__navigation ul li a:active {
  color: #9d9696;
}

.header__order {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.header__order a {
  color: #000000;
  font-family: "PT Root UI";
  font-size: 16px;
  font-weight: 700;
  min-width: 250px;
  min-height: 44px;
  border-radius: 22px;
  background-color: #decbba;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  text-decoration: none;
}

.header__order a:hover,
.header__order a:focus {
  background-color: #e4d5c7;
}

.header__order a:active {
  background-color: #b1a294;
}

.header__order a span {
  width: 36px;
  height: 36px;
  background-color: #df0024;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-family: "PT Root UI";
  font-size: 11px;
  font-weight: 700;
  border-radius: 50%;
  position: absolute;
  top: 4px;
  right: 4px;
}

.block-one__background {
  /* background-image: url("../img/block-one-image-one.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  min-height: 845px; */
  position: relative;
  min-height: 845px;
  background-color: #351a1a;
}

.block-one__image {
  position: absolute;
  background-image: url("../img/block-one-image-one.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
}

.block-one h1 {
  color: #ffffff;
  font-family: "Intro";
  font-size: 60px;
  font-weight: 400;
  text-transform: uppercase;
}

.block-one__left {
  padding-top: 130px;
  padding-bottom: 130px;
}

.block-one__left h1 {
  margin-bottom: 40px;
}

.block-one__left p {
  color: #d9c66a;
  font-family: "PT Root UI";
  font-size: 24px;
  font-weight: 500;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.5);
  /* opacity: 0.5; */
  padding: 7px 12px;
  display: inline-flex;
  margin-bottom: 10px;
}

.block-one__left p:last-of-type {
  margin-bottom: 80px;
}

.block-one__left dl {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 80px;
}

.block-one__left dl dt {
  color: #ffffff;
  font-family: "Intro";
  font-size: 48px;
  font-weight: 400;
  text-transform: uppercase;
  margin-right: 15px;
}

.block-one__left dl dd {
  color: #ffffff;
  font-family: "PT Root UI";
  font-size: 16px;
  font-weight: 400;
  margin: 0;
}

.block-one__left a {
  color: #000000;
  font-family: "PT Root UI";
  font-size: 18px;
  font-weight: 700;
  width: 364px;
  height: 60px;
  border-radius: 30px;
  background-color: #bfb741;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
}

.block-one__left a:hover,
.block-one__left a:focus {
  background-color: #cbc566;
}

.block-one__left a:active {
  background-color: #989234;
}

.block-one__left a span {
  width: 50px;
  height: 50px;
  background-color: #df0024;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-family: "PT Root UI";
  font-size: 15px;
  font-weight: 700;
  border-radius: 50%;
  position: absolute;
  top: 5px;
  right: 5px;
}

.block-one__right form {
  border: 15px solid #bfb741;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 80px 50px 80px;
  margin-top: 110px;
}

.block-one__right form p {
  color: #342121;
  font-family: "PT Root UI";
  font-size: 24px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.block-one__right form p:first-child {
  margin-bottom: 35px;
}

.block-one__right form p span:first-child {
  text-transform: uppercase;
  margin-bottom: 10px;
}

.block-one__right form p span:nth-child(2) {
  color: #342121;
  font-family: "PT Root UI";
  font-size: 18px;
  font-weight: 400;
}

.block-one__right form p span:last-child {
  color: #ff6137;
  font-family: "PT Root UI";
  font-size: 18px;
  font-weight: 400;
}

.block-one__right form label {
  margin-bottom: 22px;
}

.block-one__right form label:last-of-type {
  margin-bottom: 30px;
}

.block-one__right form label input {
  color: #8b857e;
  font-family: "PT Root UI";
  font-size: 18px;
  font-weight: 400;
  width: 364px;
  height: 50px;
  border: 2px solid #f2ebe4;
  background-color: #ffffff;
  text-align: center;
  padding: 0 20px;
}

.block-one__right form label textarea {
  color: #8b857e;
  font-family: "PT Root UI";
  font-size: 18px;
  font-weight: 400;
  width: 364px;
  /* height: 50px; */
  border: 2px solid #f2ebe4;
  background-color: #ffffff;
  /* text-align: center; */
  padding: 20px;
}

.block-one__right form button {
  color: #000000;
  font-family: "PT Root UI";
  font-size: 18px;
  font-weight: 700;
  width: 364px;
  height: 60px;
  border-radius: 4px;
  background-color: #bfb741;
  border: none;
  position: relative;
  margin-bottom: 25px;
}

.block-one__right form button:hover,
.block-one__right form button:focus {
  background-color: #cbc566;
}

.block-one__right form button:active {
  background-color: #989234;
}

.block-one__right form button span {
  width: 60px;
  height: 60px;
  background-color: #df0024;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-family: "PT Root UI";
  font-size: 18px;
  font-weight: 700;
  border-radius: 50%;
  position: absolute;
  bottom: 13px;
  right: 13px;
}

.block-one__right form .policy {
  color: #a8a19a;
  font-family: "PT Root UI";
  font-size: 12px;
  font-weight: 400;
  display: block;
  margin: 0;
  text-align: center;
}

.block-one__right form .policy a {
  color: #342121;
  text-decoration: underline;
}

.block-two__wrapper {
  padding-top: 120px;
}

.block-two__background {
  background-color: #f5f3f3;
}

.block-two h2 {
  color: #000000;
  font-family: "PT Root UI";
  font-size: 48px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 100px;
}

.block-two .cards .cards__item {
  box-shadow: 0 18px 36px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.block-two .cards .cards__content {
  padding: 30px 10px 10px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.block-two .cards .cards__image {
  margin-bottom: 30px;
  width: 197px;
  height: 222px;
}

.block-two .cards .cards__title {
  color: #000000;
  font-family: "PT Root UI";
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
  text-align: center;
}

.block-two .cards .cards__text {
  color: #a8a19a;
  font-family: "PT Root UI";
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  margin: 0;
}

.cards__footer {
  width: 100%;
  height: 237px;
  background-color: #f7f6e8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cards__footer .cards__old-price {
  color: #857c7c;
  font-family: "PT Root UI";
  font-size: 16px;
  font-weight: 400;
  text-decoration: line-through;
}

.cards__footer .cards__new-price {
  font-family: "PT Root UI";
  color: #000000;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 50px;
}

.cards__footer .cards__order-link {
  color: #000000;
  font-family: "PT Root UI";
  font-size: 18px;
  font-weight: 700;
  width: 220px;
  height: 60px;
  border-radius: 4px;
  background-color: #bfb741;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  text-decoration: none
}

.cards__footer .cards__order-link:hover,
.cards__footer .cards__order-link:focus {
  background-color: #cbc566;
}

.cards__footer .cards__order-link:active {
  background-color: #989234;
}

.cards__footer .cards__order-link span {
  width: 50px;
  height: 50px;
  background-color: #df0024;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-family: "PT Root UI";
  font-size: 15px;
  font-weight: 700;
  border-radius: 50%;
  position: absolute;
  bottom: 18px;
  right: 22px;
}

.block-three__background {
  background-color: #f5f3f3;
}

.block-three__wrapper {
  padding-top: 120px;
}

.block-three h2 {
  color: #000000;
  font-family: "PT Root UI";
  font-size: 48px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 100px;
}

.block-four__background {
  background-image: url("../img/block-five-imege-two.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  min-height: 919px;
}

.block-four__background-footer {
  background-color: #f2ebe4;
  min-height: 260px;
}

.block-four__wrapper {
  padding-top: 90px;
}

.block-four__wrapper h2 {
  color: #000000;
  font-family: "PT Root UI";
  font-size: 48px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 90px;
}

.block-four__header {
  width: 100%;
  min-height: 140px;
  background-color: #351a1a;
  opacity: 0.6;
  padding: 0 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.block-four__header label {
  width: 111px;
  height: 114px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.block-four__header .active {
  background-color: #ffffff;
}

.block-four__header label input {
  display: none;
}

.block-four__main {
  background-color: #f5f3f3;
  min-height: 541px;
  /* padding-top: 40px; */
}

.block-four__main .width input {
  width: 111px;
  height: 50px;
  border: 2px solid #f2ebe4;
  background-color: #ffffff;
  color: #8b857e;
  font-family: "PT Root UI";
  font-size: 18px;
  font-weight: 400;
  padding: 0 10px;
  text-align: center;
  margin-right: 15px;
}

.block-four__main .width span {
  color: #342121;
  font-family: "PT Root UI";
  font-size: 18px;
  font-weight: 700;
}

.block-four__main .devider {
  margin: 0 15px;
  color: #342121;
  font-family: "PT Root UI";
  font-size: 18px;
  font-weight: 700;
}

.block-four__main .height input {
  width: 111px;
  height: 50px;
  border: 2px solid #f2ebe4;
  background-color: #ffffff;
  color: #8b857e;
  font-family: "PT Root UI";
  font-size: 18px;
  font-weight: 400;
  padding: 0 10px;
  text-align: center;
  margin-right: 15px;
}

.block-four__main .height span {
  color: #342121;
  font-family: "PT Root UI";
  font-size: 18px;
  font-weight: 700;
}

.block-four__main .top {
  margin-bottom: 60px;
  padding-top: 40px;
}

.block-four__main .bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.white-background {
  margin-bottom: 80px;
}

.block-four__main .bottom img {
  height: 268px;
  width: auto;
}

.block-four__main .slider-width {
  width: 473px;
  height: 3px;
  background-color: #cfc8c8;
  position: relative;
}

.block-four__main .slider-height {
  width: 3px;
  height: 473px;
  background-color: #cfc8c8;
  position: relative;
}

.block-four__main .slider-width .slider-width-value {
  position: absolute;
  top: -30px;
  right: 0;
  color: #342121;
  font-family: "PT Root UI";
  font-size: 16px;
  font-weight: 400;
}

.block-four__main .slider-height .slider-height-value {
  position: absolute;
  top: -5px;
  left: 15px;
  color: #342121;
  font-family: "PT Root UI";
  font-size: 16px;
  font-weight: 400;
}

.block-four__main .right {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.block-four__container {
  padding: 0 80px;
}

.ui-slider.ui-slider-horizontal {
  border: none;
  width: 473px;
  height: 3px;
  background-color: #cfc8c8;
  position: relative;
}

.ui-slider .ui-slider-handle {
  cursor: pointer;
  display: inline-flex;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  background-color: #ffffff;
  position: absolute;
  top: -13px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ui-slider .ui-slider-handle::before {
  content: "";
  width: 16px;
  height: 16px;
  background-color: #bfb741;
  border-radius: 50%;
}

.ui-slider .ui-slider-range {
  height: 3px;
  background-color: #cfc8c8;
}

.ui-slider.ui-slider-vertical {
  border: none;
  width: 3px;
  height: 473px;
  background-color: #cfc8c8;
  position: relative;
}

.ui-slider.ui-slider-vertical .ui-slider-handle {
  cursor: pointer;
  display: inline-flex;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  background-color: #ffffff;
  position: absolute;
  top: unset;
  left: -13px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ui-slider.ui-slider-vertical .ui-slider-handle::before {
  content: "";
  width: 16px;
  height: 16px;
  background-color: #bfb741;
  border-radius: 50%;
}

.properties-wrapper {
  padding-top: 40px;
}

.properties {
  display: flex;
  flex-direction: column;
  border: 15px solid #bfb741;
  background-color: #ffffff;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.properties .quantity {
  display: flex;
  flex-direction: column;
}

.properties .quantity span {
  color: #342121;
  font-family: "PT Root UI";
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 20px;
}

.properties .quantity input {
  min-width: 303px;
  height: 50px;
  border: 2px solid #f2ebe4;
  background-color: #ffffff;
  color: #8b857e;
  font-family: "PT Root UI";
  font-size: 18px;
  font-weight: 400;
  padding: 0 20px;
  margin-bottom: 25px;
}

.properties .material {
  display: flex;
  flex-direction: column;
}

.properties .material span {
  color: #342121;
  font-family: "PT Root UI";
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 20px;
}

.properties .material select {
  min-width: 303px;
  height: 50px;
  border: 2px solid #f2ebe4;
  background-color: #ffffff;
  color: #8b857e;
  font-family: "PT Root UI";
  font-size: 18px;
  font-weight: 400;
  padding: 0 20px;
  margin-bottom: 25px;
}

.properties .window {
  display: flex;
  flex-direction: column;
}

.properties .window span {
  color: #342121;
  font-family: "PT Root UI";
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 20px;
}

.properties .window select {
  min-width: 303px;
  height: 50px;
  border: 2px solid #f2ebe4;
  background-color: #ffffff;
  color: #8b857e;
  font-family: "PT Root UI";
  font-size: 18px;
  font-weight: 400;
  padding: 0 20px;
  margin-bottom: 25px;
}

.block-four__footer {
  background-color: #ffffff;
  min-height: 160px;
  padding: 0 80px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.block-four__footer-wrapper {
  display: flex;
  width: 100%;
  margin-bottom: 30px;
}

.block-four__footer .name input {
  width: 303px;
  height: 50px;
  border: 2px solid #f2ebe4;
  background-color: #ffffff;
  color: #8b857e;
  font-family: "PT Root UI";
  font-size: 18px;
  font-weight: 400;
  padding: 0 20px;
  margin-right: 30px;
}

.block-four__footer .phone input {
  width: 303px;
  height: 50px;
  border: 2px solid #f2ebe4;
  background-color: #ffffff;
  color: #8b857e;
  font-family: "PT Root UI";
  font-size: 18px;
  font-weight: 400;
  padding: 0 20px;
}

.block-four__footer .send-button {
  margin-left: auto;
  color: #000000;
  font-family: "PT Root UI";
  font-size: 18px;
  font-weight: 700;
  width: 364px;
  height: 60px;
  border-radius: 4px;
  background-color: #bfb741;
  position: relative;
  border: none;
  text-transform: uppercase;
}

.block-four__footer .send-button:hover,
.block-four__footer .send-button:focus {
  background-color: #cbc566;
}

.block-four__footer .send-button:active {
  background-color: #989234;
}

.block-four__footer .send-button span {
  width: 60px;
  height: 60px;
  background-color: #df0024;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-family: "PT Root UI";
  font-size: 18px;
  font-weight: 700;
  border-radius: 50%;
  position: absolute;
  bottom: 13px;
  right: 13px;
}

.block-four__footer p {
  color: #a8a19a;
  font-family: "PT Root UI";
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  margin-right: auto;
}

.block-four__footer p a {
  color: #342121;
  text-decoration: underline;
}

.block-five__background {
  background-image: url("../img/block-five-imege-two.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.block-five__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

.block-five h2 {
  color: #000000;
  font-family: "PT Root UI";
  font-size: 48px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 100px;
}

.block-five .wrapper {
  position: relative;
}

.block-five__item {
  position: absolute;
  width: 288px;
  height: 103px;
}

.block-five__image {
  margin-bottom: 95px;
}

.block-five__item h3 {
  color: #000000;
  font-family: "PT Root UI";
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 10px;
}

.block-five__item p {
  color: #857c7c;
  font-family: "PT Root UI";
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 10px;
  padding-right: 30px;
}

.block-five__line {
  width: 100%;
  height: 2px;
  background-color: #bfb741;
  position: relative;
}

.block-five__line svg {
  width: 30px;
  height: 30px;
  position: absolute;
  top: -11px;
  right: -11px;
}

.block-five__item:nth-of-type(4) .block-five__line svg {
  width: 30px;
  height: 30px;
  position: absolute;
  top: -11px;
  left: -11px;
}

.block-five__item:nth-of-type(4) h3 {
  text-align: right
}

.block-five__item:nth-of-type(4) p {
  text-align: right;
  padding: 0;
  padding-left: 115px;
}

.block-five__item:nth-of-type(5) .block-five__line svg {
  width: 30px;
  height: 30px;
  position: absolute;
  top: -11px;
  left: -11px;
}

.block-five__item:nth-of-type(5) h3 {
  text-align: right
}

.block-five__item:nth-of-type(5) p {
  text-align: right;
  padding: 0;
  padding-left: 115px;
}

.block-five__item:nth-of-type(6) .block-five__line svg {
  width: 30px;
  height: 30px;
  position: absolute;
  top: -11px;
  left: -11px;
}

.block-five__item:nth-of-type(6) h3 {
  text-align: right
}

.block-five__item:nth-of-type(6) p {
  text-align: right;
  padding: 0;
  padding-left: 115px;
}

.block-five__item:nth-of-type(1) {
  top: 0;
  left: -95px;
}

.block-five__item:nth-of-type(2) {
  top: 140px;
  left: -125px;
}

.block-five__item:nth-of-type(3) {
  top: 280px;
  left: -180px;
}

.block-five__item:nth-of-type(4) {
  top: 0;
  right: -260px;
}

.block-five__item:nth-of-type(5) {
  top: 140px;
  right: -180px;
}

.block-five__item:nth-of-type(6) {
  top: 280px;
  right: -230px;
}

.block-five .features {
  background-color: rgba(255, 255, 255, 0.5);
  min-height: 250px;
  padding: 0 25px;
}

.block-five .features__item {
  display: flex;
  align-items: center;
}

.block-five .features__item span {
  min-width: 80px;
  height: 80px;
  background-color: #bfb741;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 30px;
}

.block-five .features__item p {
  color: #000000;
  font-family: "PT Root UI";
  font-size: 16px;
  font-weight: 400;
  margin: 0;
}

.block-six__background {
  background-color: #351a1a;
}

.block-six__wrapper {
  padding: 100px 0;
}

.block-six h2 {
  color: #ffffff;
  font-family: "PT Root UI";
  font-size: 48px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 100px;
}

.block-six__item {
  margin-bottom: 30px;
}

.block-six__item a img {
  width: 100%;
}

.block-seven__wrapper {
  padding-top: 150px;
  padding-bottom: 200px;
}

.info {
  border: 15px solid #bfb741;
  min-height: 422px;
}

.info .info__item h2 {
  color: #000000;
  font-family: "PT Root UI";
  font-size: 36px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 50px;
}

.info .info__tel {
  color: #000000;
  font-family: "PT Root UI";
  font-size: 24px;
  font-weight: 700;
  display: block;
  margin-bottom: 10px;
}

.info .info__item p {
  color: #857c7c;
  font-family: "PT Root UI";
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 30px;
}

.info .info__order {
  color: #000000;
  font-family: "PT Root UI";
  font-size: 16px;
  font-weight: 700;
  width: 239px;
  height: 50px;
  border-radius: 4px;
  background-color: #bfb741;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  text-decoration: none
}

.info .info__order:hover,
.info .info__order:focus {
  background-color: #cbc566;
}

.info .info__order:active {
  background-color: #989234;
}

.info .info__order span {
  width: 50px;
  height: 50px;
  background-color: #df0024;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-family: "PT Root UI";
  font-size: 15px;
  font-weight: 700;
  border-radius: 50%;
  position: absolute;
  bottom: 18px;
  right: 13px;
}

.info .info__wrapper {
  background-color: #f5f3f3;
  margin: 15px;
  height: 100%;
  padding-top: 50px;
  padding-bottom: 30px;
}

.info__image {
  position: relative;
}

.info__image img {
  position: absolute;
  bottom: -60px;
  left: 205px;
}

.block-eight__wrapper {
  padding-bottom: 100px;
}

.block-eight__wrapper h2 {
  color: #000000;
  font-family: "PT Root UI";
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 100px;
  text-align: center;
}

.block-eight__item span {
  color: #ffffff;
  font-family: "PT Root UI";
  font-size: 18px;
  font-weight: 700;
  position: absolute;
  bottom: 30px;
  left: 30px;
  z-index: 1;
}

.block-eight__item .border-line {
  width: 80px;
  height: 5px;
  display: block;
  position: absolute;
  left: 30px;
  bottom: 20px;
  background-color: #bfb741;
  transition: 0.25s ease-in;
}

.block-eight__item img {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.block-eight__item a:hover+.border-line,
.block-eight__item a:focus+.border-line {
  width: 40px;
  transition: 0.25s ease-in;
}

.block-eight__item {
  margin-bottom: 30px;
}

.block-nine__background {
  background-image: url("../img/block-nine-image-five.jpg");
}

.block-nine__wrapper {
  padding-top: 100px;
  padding-bottom: 150px;
}

.block-nine__wrapper h2 {
  color: #000000;
  font-family: "PT Root UI";
  font-size: 48px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 100px;
}

.block-nine__item figure {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.block-nine__item figure img {
  border-radius: 50%;
  margin-bottom: 35px;
  box-shadow: 0 18px 36px rgba(0, 0, 0, 0.15);
  border: 10px solid #ffffff;
}

.block-nine__item figure figcaption {
  color: #857c7c;
  font-family: "PT Root UI";
  font-size: 18px;
  font-weight: 700;
}

.block-ten__background {
  background-color: #f2ebe4;
}

.block-ten__wrapper {
  padding: 65px 0;
}

.block-ten__image img {
  border: 15px solid #ffffff;
}

.block-ten__text h2 {
  color: #000000;
  font-family: "PT Root UI";
  font-size: 36px;
  font-weight: 700;
  padding-right: 150px;
  margin-bottom: 50px;
  line-height: 60px;
}

.block-ten__text h2 p {
  color: #000000;
  font-family: "PT Root UI";
  font-size: 36px;
  font-weight: 400;
  display: inline;
}

.block-ten__text a {
  color: #000000;
  font-family: "PT Root UI";
  font-size: 18px;
  font-weight: 700;
  width: 364px;
  height: 60px;
  border-radius: 4px;
  background-color: #bfb741;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  text-decoration: none;
}

.block-ten__text a:hover,
.block-ten__text a:focus {
  background-color: #cbc566;
}

.block-ten__text a:active {
  background-color: #989234;
}

.block-ten__text a span {
  width: 50px;
  height: 50px;
  background-color: #df0024;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-family: "PT Root UI";
  font-size: 18px;
  font-weight: 700;
  border-radius: 50%;
  position: absolute;
  bottom: 13px;
  right: 13px;
}

.block-eleven__wrapper {
  padding-top: 100px;
  padding-bottom: 170px;
}

.block-eleven__wrapper h2 {
  color: #000000;
  font-family: "PT Root UI";
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 100px;
  text-align: center;
}

.block-eleven__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 351px;
}

.block-eleven__item span {
  width: 165px;
  height: 165px;
  background-color: #bfb741;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 0 15px rgba(191, 183, 65, 0.2);
  margin-bottom: 40px;
}

.block-eleven__item h3 {
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  font-family: "PT Root UI";
  font-size: 24px;
  font-weight: 700;
  max-width: 200px;
  margin-bottom: 10px;
}

.block-eleven__item p {
  text-align: center;
  max-width: 200px;
  margin: 0;
}

.block-twelve__background {
  background-image: url("../img/block-nine-image-five.jpg");
  /* background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%; */
}

.block-twelve__wrapper {
  padding-top: 100px;
  padding-bottom: 140px;
}

.block-twelve__wrapper h2 {
  color: #000000;
  font-family: "PT Root UI";
  font-size: 48px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 100px;
}

.block-twelve__wrapper ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.block-thirteen__background {
  background-image: url("../img/block-five-imege-two.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.block-thirteen__wrapper {
  padding-top: 100px;
  padding-bottom: 50px;
}

.block-thirteen__wrapper h2 {
  color: #000000;
  font-family: "PT Root UI";
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 100px;
  text-align: center;
}

.block-thirteen__item {
  margin-bottom: 50px;
}

.block-thirteen__item img {
  margin-bottom: 30px;
}

.block-thirteen__item h3 {
  color: #000000;
  font-family: "PT Root UI";
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 10px;
}

.block-thirteen__item p {
  color: #857c7c;
  font-family: "PT Root UI";
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 30px;
}

.block-thirteen__item a {
  color: #000000;
  font-family: "PT Root UI";
  font-size: 16px;
  font-weight: 700;
  width: 241px;
  height: 44px;
  border-radius: 4px;
  background-color: #f2f1d9;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  text-decoration: none;
}

.block-thirteen__item a:hover,
.block-thirteen__item a:focus {
  background-color: #f4f3e0;
}

.block-thirteen__item a:active {
  background-color: #c1c0ad;
}

.block-thirteen__item a span {
  width: 42px;
  height: 42px;
  background-color: #df0024;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-family: "PT Root UI";
  font-size: 13px;
  font-weight: 700;
  border-radius: 50%;
  position: absolute;
  bottom: 13px;
  right: 14px;
}

.block-fourteen__wrapper {
  padding: 100px 0;
}

.block-fourteen__wrapper h2 {
  color: #000000;
  font-family: "PT Root UI";
  font-size: 48px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 100px;
}

.block-fourteen__item {
  border: 4px solid #bfb741;
  margin-bottom: 30px;
  padding: 40px 30px;
}

.block-fourteen__item span {
  color: #000000;
  font-family: "PT Root UI";
  font-size: 16px;
  font-weight: 700;
  display: block;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.block-fourteen__item p {
  color: #857c7c;
  font-family: "PT Root UI";
  font-size: 16px;
  font-weight: 400;
  margin: 0;
}

.block-fourteen__wrapper a {
  color: #000000;
  font-family: "PT Root UI";
  font-size: 18px;
  font-weight: 700;
  width: 364px;
  height: 60px;
  border-radius: 4px;
  background-color: #bfb741;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 50px;
  text-decoration: none
}

.block-fourteen__wrapper a:hover,
.block-fourteen__wrapper a:focus {
  background-color: #cbc566;
}

.block-fourteen__wrapper a:active {
  background-color: #989234;
}

.block-fifteen__background {
  background-image: url("../img/block-fifteen-image-one.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  min-height: 650px;
}

.block-fifteen address {
  border: 15px solid #bfb741;
  background-color: #ffffff;
  margin-top: 90px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
}

.block-fifteen address h3 {
  color: #000000;
  font-family: "PT Root UI";
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.block-fifteen .text-wrapper {
  display: flex;
  margin-bottom: 10px;
}

.block-fifteen address p {
  color: #000000;
  font-family: "PT Root UI";
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 10px;
}

.block-fifteen address a {
  color: #000000;
  font-family: "PT Root UI";
  font-size: 16px;
  font-weight: 400;
}

.block-fifteen address .block-fifteen__tel {
  color: #000000;
  font-family: "PT Root UI";
  font-size: 18px;
  font-weight: 700;
}

.footer__wrapper {
  min-height: 138px;
  display: flex;
  align-items: center;
}

.footer p {
  color: #857c7c;
  font-family: "PT Root UI";
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.footer p a {
  color: #000000;
  font-family: "PT Root UI";
  font-size: 16px;
  font-weight: 400;
}

.slick-prev:before {
  content: "";
  background-image: url("../img/block-nine-arrow-left.svg");
  width: 26px;
  height: 46px;
  display: block;
  position: absolute;
  top: -35px;
}

.slick-next:before {
  content: "";
  background-image: url("../img/block-nine-arrow-right-icon.svg");
  width: 26px;
  height: 46px;
  display: block;
  position: absolute;
  top: -35px;
}

.modal-one form {
  margin: 0;
  position: relative;
}

.modal-one .close {
  position: absolute;
  top: 20px;
  right: 30px;
}

.modal-one .close span {
  font-size: 30px;
}

.block-fifteen {
  position: relative;
}

.block-fifteen iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 650px;
  pointer-events: none;
}

.block-fifteen__wrapper address {
  z-index: 1;
}

.promo-product__product {
  width: 70%;
  height: 100%;
  margin-left: 0;
  position: unset;
  background-position: 50% 50%;
  top: unset;
  left: unset;
  display: block;
  margin: auto;
}

.promo-cols__col_left {
  padding: 0;
}

.up {
  border: none;
  width: 44px;
  height: 44px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  position: fixed;
  /* bottom: 30px;
  right: 30px; */
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.25s ease-in;
}

.up:hover,
.up:focus {
  background-color: rgba(0, 0, 0, 1);
}

.up svg {
  width: 20px;
  height: 20px;
}

.up-active {
  bottom: 30px;
  left: 30px;
}

.header__menu {
  display: none;
}

@media (max-width: 767.98px) {
  .header__address-wrapper {
    display: none;
  }

  .header__logo {
    justify-content: flex-end;
  }

  .header__logo svg {
    width: 130px;
  }

  .header__bottom {
    display: none;
  }

  .header__menu {
    display: block;
  }

  .header__menu svg {
    width: 30px;
    height: 30px;
  }

  .header__mobile-menu {
    flex-wrap: nowrap;
    align-items: center;
  }

  .block-one__left h1 {
    font-size: 30px;
  }

  .block-one__left {
    padding: 40px 0;
  }

  .block-one__left p {
    font-size: 22px;
  }

  .block-one__left p:last-of-type {
    margin-bottom: 40px;
  }

  .block-one__left dl {
    flex-direction: column;
  }

  .block-one__left a {
    max-width: 100%;
    font-size: 12px;
  }

  .block-one__left dl {
    margin-bottom: 40px;
  }

  .block-one__right form {
    margin-top: 0;
    padding: 15px;
  }

  .block-one__right form label input {
    width: 100%;
  }

  .block-one__right form p:first-child {
    text-align: center;
  }

  .block-one__right form button {
    width: 100%;
  }

  .block-one__right form button {
    font-size: 14px;
  }

  .block-one__right form button span {
    width: 40px;
    height: 40px;
    font-size: 12px;
    top: 3px;
    right: 3px;
  }

  .block-one__right {
    padding: 0;
  }

  .header__mobile-wrapper {
    padding-bottom: 40px;
  }

  .block-two__wrapper {
    padding: 0;
    padding-top: 40px;
  }

  .block-two h2 {
    font-size: 30px;
    margin-bottom: 40px;
  }

  .cards__item-wrapper {
    margin-bottom: 40px;
  }

  .block-three__wrapper {
    padding: 0;
  }

  .block-three h2 {
    font-size: 30px;
    margin-bottom: 40px;
  }

  .block-three .item {
    margin-bottom: 15px;
  }

  .block-four__wrapper {
    padding: 0;
    padding-top: 40px;
  }

  .block-four__wrapper h2 {
    font-size: 30px;
    margin-bottom: 40px;
  }

  .block-four__header {
    padding: 0 30px;
    overflow-x: scroll;
  }

  .block-four__header label {
    padding: 10px;
    margin-right: 20px;
  }

  .block-four__header label svg {
    width: 100px;
    height: 100px;
  }

  .block-four__container {
    padding: 0;
  }

  .block-four__main .top {
    margin-bottom: 40px;
  }

  .block-four__main .top {
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .block-four__main .top label {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .white-background {
    margin-bottom: 40px;
  }

  .block-four__main .width input {
    margin: 0;
  }

  .block-four__main .height input {
    margin: 0;
  }

  .ui-slider.ui-slider-horizontal {
    width: 100%;
  }

  .block-four__main .devider {
    display: none;
  }

  .slider-width {
    display: none;
  }

  .right-wrapper {
    display: none;
  }

  .properties .quantity input {
    min-width: 100%;
    width: 230px;
    margin-bottom: 10px;
  }

  .properties-wrapper {
    padding: 0;
  }

  .properties .material select {
    min-width: 100%;
    width: 230px;
    margin-bottom: 10px;
  }

  .properties .window select {
    min-width: 100%;
    width: 230px;
    margin-bottom: 10px;
  }

  .properties {
    padding: 20px 0;
  }

  .block-four__footer {
    padding: 0;
  }

  .block-four__footer-wrapper {
    flex-direction: column;
  }

  .block-four__footer .name input {
    margin: 0;
    margin-bottom: 10px;
    width: 100%;
  }

  .block-four__footer .phone input {
    margin: 0;
    margin-bottom: 10px;
    width: 100%;
  }

  .block-four__footer .send-button {
    margin: 0;
    margin-bottom: 10px;
    width: 100%;
    font-size: 12px;
  }

  .block-four__footer-wrapper {
    margin-bottom: 20px;
  }

  .block-four__footer p {
    text-align: center;
  }

  .block-four__background-footer {
    padding-bottom: 20px;
  }

  .block-four__footer {
    margin: 0;
    padding: 20px;
  }

  .block-four__footer-mobile {
    padding: 0;
  }

  .block-five__wrapper {
    padding: 0;
    padding-top: 40px;
  }

  .block-five h2 {
    font-size: 30px;
    margin-bottom: 40px;
  }

  .block-five__item {
    display: none;
  }

  .block-five__image {
    width: 100%;
    margin-bottom: 40px;
  }

  .block-five .features__item {
    margin-bottom: 20px;
  }

  .block-five .features {
    padding: 20px;
  }

  .block-six__wrapper {
    padding: 40px 0;
  }

  .block-six__item {
    margin-bottom: 15px;
  }

  .block-six__item {
    display: none;
  }

  .block-six__item:nth-of-type(1),
  .block-six__item:nth-of-type(2),
  .block-six__item:nth-of-type(3) {
    display: block;
  }

  .block-six h2 {
    font-size: 30px;
    margin-bottom: 40px;
  }

  .info__image {
    display: none;
  }

  .block-seven__wrapper {
    padding: 40px 0;
  }

  .info .info__item h2 {
    font-size: 30px;
  }

  .info .info__wrapper {
    padding: 0;
    padding-top: 20px;
  }

  .info .info__item h2 {
    margin-bottom: 20px;
  }

  .info .info__order {
    width: 100%;
    font-size: 12px;
  }

  .info {
    min-height: 100%;
  }

  .block-eight__wrapper {
    padding: 0;
  }

  .block-eight__wrapper h2 {
    font-size: 30px;
    margin-bottom: 40px;
  }

  .block-eight__item {
    margin-bottom: 15px;
  }

  .block-nine__wrapper {
    padding: 40px 0;
  }

  .block-nine__wrapper h2 {
    font-size: 30px;
    margin-bottom: 40px;
  }

  .block-ten__image img {
    width: 100%;
  }

  .block-ten__image {
    margin-bottom: 40px;
  }

  .block-ten__wrapper {
    padding: 40px 0;
  }

  .block-ten__text h2 {
    font-size: 28px;
    margin: 0;
    margin-bottom: 40px;
    padding: 0;
    line-height: normal;
  }

  .block-ten__text h2 p {
    font-size: 28px;
  }

  .block-ten__text a {
    width: 100%;
    font-size: 14px;
  }

  .block-eleven__wrapper {
    padding: 40px 0;
  }

  .block-eleven__wrapper h2 {
    font-size: 30px;
    margin-bottom: 40px;
  }

  .block-twelve__wrapper {
    padding: 40px 0;
  }

  .block-twelve__wrapper h2 {
    font-size: 30px;
    margin-bottom: 40px;
  }

  .block-twelve__item a img {
    width: 100%;
  }

  .block-twelve__item {
    margin-bottom: 15px;
    padding: 0;
  }

  .block-thirteen__wrapper {
    padding: 40px 0;
  }

  .block-thirteen__wrapper h2 {
    font-size: 28px;
    margin-bottom: 40px;
  }

  .block-thirteen__item {
    margin-bottom: 40px;
  }

  .block-thirteen__item img {
    width: 100%;
  }

  .block-fourteen__wrapper {
    padding: 40px 15px;
  }

  .block-fourteen__wrapper h2 {
    font-size: 28px;
    margin-bottom: 40px;
  }

  .block-fourteen__item {
    padding: 20px;
  }

  .block-fourteen__wrapper a {
    width: 100%;
    margin: 0 15px;
  }

  .block-fifteen address {
    margin: 40px 0;
  }

  .block-fifteen__wrapper-mobile {
    padding: 0;
  }

  .footer p {
    text-align: center;
  }

  .footer p a {
    margin: 0 auto;
  }

  .info__item {
    padding-bottom: 15px;
  }

}
